extends layout

block content

  -data = data || {}
  if errors
    ul
      for error in errors
        li= error.msg

  form(action="/add-new-fellow" method="POST")
    label(for="isActive") Is active:
    select(
      id="isActive"
      name="isActive"
      class="form-control"
      value=data.isActive
    )
      option(value=1) Yes
      option(value=0) No

    label(for="age") Age:
    input(
      type="text"
      id="age"
      name="age"
      class="form-control"
      value=data.age
    )

    label(for="fellowship") Fellowship:
    input(
      type="text"
      id="fellowship"
      name="fellowship"
      class="form-control"
      value=data.fellowship
    )

    label(for="first") First name:
    input(
      type="text"
      id="first"
      name="first"
      class="form-control"
      value=data.first
    )

    label(for="last") Last name:
    input(
      type="text"
      id="last"
      name="last"
      class="form-control"
      value=data.last
    )

    label(for="email") Email:
    input(
      type="text"
      id="email"
      name="email"
      class="form-control"
      value=data.email
    )

    label(for="about") About:
    input(
      type="text"
      id="about"
      name="about"
      class="form-control"
      value=data.about
    )

    label(for="registered") Registred:
    input(
      type="date"
      id="registered"
      name="registered"
      class="form-control"
      value=data.registred
    )

    input(
      type="submit"
      class="btn btn-default btn-block mt-3"
      value="Submit"
    )
