extends layout

block content
  if fellowshipsAvgAge.length
    table.table.table-bordered
      tr
        th Fellowship
        th Average Age
      each fellowship in fellowshipsAvgAge
        tr.table-dark
          td= fellowship._id.fellowship
          td= fellowship.avgAge
        each fellow in fellowship.fellow
          tr
           td| #{fellow.name.first} #{fellow.name.last}
           td= fellow.age

  else
    p No fellowships yet :(

  div.row
    if youngestFellow.length

      div.col-md-6
        h3 Youngest fellow

        each fellow in youngestFellow
          h2| #{fellow.name.first} #{fellow.name.last}
          p| Age: #{fellow.age}
          p| e-mail: #{fellow.email}
          p| fellowship: #{fellow.fellowship}
          p| about: #{fellow.about}

    if oldestFellow.length

      div.col-md-6
        h3 Oldest fellow

        each fellow in oldestFellow
          h2| #{fellow.name.first} #{fellow.name.last}
          p| Age: #{fellow.age}
          p| e-mail: #{fellow.email}
          p| fellowship: #{fellow.fellowship}
          p| about: #{fellow.about}
